/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFTHi2duqFkUDTwX69u3GvAppbQwEbZeKjnoXIn_r2qvNJXQGO");
    color: blue;
    font-size: 1.5em;
    background-repeat: no-repeat;
    background-size:cover;
    /* font-family: 'Titan One', cursive; */
}
.containerfluid{   
    padding:25px;
    width:300px;
    margin:25px;
    border:5px solid black;
    text-align: center

}
/* h{
    font-style: Clarendon;
} */