
<!-- <h1>Quotes</h1> -->
<div class= "containerfluid">
  <div class="row">
    
  </div>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name">
      </div>
      <br>
      <br>
      <div class="form-group">
          <label for="enter quote">Enter quote</label>
          <input type="text" id="enter quote " required>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author">
          </div>
          <br>
          <br>
        </form>

        <button type="Submit" class="btn btn-success btn-lg" (click)='submitQuote()'> Add Quote</button>
          

    
  </div>

</div>

